:root {
    --clr-primary-200: #F3EED9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    
}

.box {
    background-color: var(--clr-neutral-900);
}



.slider {
    width: 800px;  
    height: 500px auto; 
    border-radius: 10px;
    overflow: hidden; 
    max-width: 100%;

}

.slides {
    width: 500%;
    height: 500px auto;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px auto;
    max-width: 100%;
}

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}

.manual-btn {
    border: 2px solid #96903c;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #c0b84f;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}
