* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: aliceblue;
  letter-spacing: 0.25rem;
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Otomanopee One", sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(177, 74, 33);
  font-family: "Montserrat", sans-serif;
}

.background-img {
  background: linear-gradient(rgba(77, 80, 80, 0.781), rgba(0, 0, 0, 0.7)),
    url(Strona_img/background.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container p {
  color: aliceblue;
  font-size: 1.25rem;
  max-width: 55rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

.container h1,
h2,
h3,
h4 {
  color: aliceblue;
}

.logo {
  width: 25%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1120px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
  }
}

@media screen and (max-width: 950px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 50%;
    background-color: rgb(177, 74, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
